.header {
    margin-bottom: 61px;
}

.nav {
    display: flex;
    margin: 0 0 107px;
    padding: 40px 0 0;
    vertical-align: center;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin-left: 409px;
    margin-right: 72px;
}

.list__item a {
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;
}

.button {
    display: inline-block;
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;

    background: #EE8313;
    padding: 12px 24px;

    transition: all 0.2s ease;
}


.button:hover {
    background: #d36f04;
    transform: translateY(2px);
}


.container__right {
    display: flex;
    column-gap: 43px;
}

.header__content--left {
    max-width: 591px;
}

.header__title {
    margin-bottom: 32px;
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    letter-spacing: 0.312px;
}

.header__text {
    max-width: 474px;
    margin-bottom: 48px;
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 164.706% */
    letter-spacing: -0.408px;
    opacity: 0.8;
}

.header__btn--row {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
}

.btn__buy {
    display: inline-block;
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;

    background: #EE8313;
    padding: 12px 24px;

    transition: all 0.2s ease;
}

.btn__buy:hover {
    background: #d36f04;
    transform: translateY(2px);
}

.header__btn--row .btn__video {
    display: inline-block;
    color: #EE8313;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;

    background: #000000;
    border: 1px solid #EE8313;
    padding: 12px 24px;

    transition: all 0.2s ease;
}

.btn__video:hover {
    transform: translateY(2px);
    background: #131212;

}

.luxury__cars--row {
    display: flex;
    column-gap: 40px;
}

.luxury {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.luxury__span-1 {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
    letter-spacing: -0.164px;
}

.luxury__span-2 {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;
}

.best {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.best__span-1 {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
    letter-spacing: -0.164px;
}

.best__span-2 {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;
}

.header__content--right {
    position: relative;
    top: -15px;
    width: 869px;
    height: 523px;
    background: #343434;
}

.header__content--right::after {
    content: "";
    position: absolute;
    left: -205px;
    bottom: 0;
    width: 1076px;
    height: 100%;
    background-image: url('./../img/car-mustang.png');
}



@media (max-width: 1238px) {

    .burger {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }
    .nav__list {
        margin-left: 100px;
        margin-right: 72px;
    }
}

@media (max-width: 941px) {
    .container__right {
        display: flex;
        flex-direction: column;
    }

    .header__content--right {
        top: 15px;
    }

    .header__content--right::after {
        left: -117px;
        bottom: 0;
        width: 1076px;
        height: 100%;
        background-image: url('./../img/car-mustang.png');
    }

    .nav {
        margin: 0 0 30px;
    }
    
}

@media (max-width: 921px) {
    .button {
        display: none;
    }

    .nav__list {
        display: none;
    }

    .burger {
        display: block !important;
    }

}

@media (max-width: 370px) {
    .header__btn--row {
        display: flex;
        flex-direction: column;
        width: 220px;
    }

    .header__title {
        font-size: 40px;
    }
}