.map {
    margin-top: 162px;
}

.location {
    padding-bottom: 102px;
}

.location__title {
    color: #FFF;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    letter-spacing: 0.312px;
}

.location__container {
    margin-top: 40px;
    max-width: 1200px;
    height: 524px;
}


@media (max-width: 830px) {
    .map {
        margin-top: 30px;
    }
    
    .location {
        padding-bottom: 0px;
    }

    .location__container {
        margin-top: 20px;
        max-width: 1200px;
        height: 524px;
    }
    
}


